<servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>com.breeze.web.servlet.DisPatcherServlet</servlet-class>
    <init-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/dispatcherServlet-servlet.xml</param-value>
    </init-param>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>*</url-pattern>
    </servlet-mapping>
</servlet>
